body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #EAC926;
}
header p{
    text-align: center;
}

header nav {
    display: none;
}

header nav ul li a {
    font-size: 12px;
    text-decoration: none;
    color: black;
}

header nav ul li {
    list-style-type: none;
}

header .buscador .input{
    background-color: white;
    border: 1px solid black;
    color: #666;
    width: max-content;
}

header .buscador .lupa{
    background-color: white;
    border: 1px solid black;
    color: #666;
    width: 20px;
}

header div.burger-menu i{
    color: white;
    background-color:#1259c3;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    border-radius: 5px;
}

header div.burger-menu {
    text-align: center;
}

p{
    font-style: 12px;
}

body main section h3{
font-size: 24px;
}

section article .precios{
    font-size: 18px;
}

section article .descuentos{
    font-size: 16px;
}

footer main article i{
    color: #1259c3;
    font-size: 2em;
    margin: 0px 0px 10px 0px;

}
footer main article{
    text-align: center;
}

footer main article .copy{
    color: grey;
    font-size: 10px;
}

.banner-img{
    width: 100vw;
}

main {
    text-align: center;
    width: 90vw;
}

main section article{
    margin-bottom: 10px;
}

.info-article{
    border-top: solid 1px #ebebeb;
    padding: 15px;
}

main section article div div i{
    width: 30px;
    height: 30px;
    border: solid 1px #39b54a;
    border-radius: 100%;
    color: #39b54a;
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
}

.desc-prod{
    display: none;
}

@media  (min-width: 361px){
    .desc-prod {
        display: block;
    }
    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    header nav {
        display: block;
    }
    header div.burger-menu {
        display: none;
    }
}

@media (min-width: 769px){

}
